@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.nav-container {
    max-width: 100%;
    height: 20px;
    font-weight: 600;
    font-size: 15px;
    background-color: #fffffff3;
    padding: 15px;
    padding-right: 77%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
      0 0 2px rgb(0 0 0 / 7%);
}

li{
    color: #000000;
    text-decoration: none;
    display: block;
}

#header{
    background-color:#ebdbc8;
    text-align: center;
    height: 350px;
    padding-top: 50px;
}

#vid-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px auto 0;
    margin-bottom: 100px;
    height: 400px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-self: center;
    padding: 0px 0;
   
}

#section{
    padding-left: 50px;
}

.btn {
   color: #fff;
   background-image: linear-gradient(to right,rgb(17, 242, 17), rgb(80, 80, 247));
   cursor: pointer;
   display: inline-block;
   border: 1px;
   border-radius: 50px;
   padding: 7px 16px;
   text-align: center;
   text-decoration: none;
   }

h1{
font-size: 50px;
margin-top: 3px;
}

iframe{
    width:600px;
    height:370px;
}







/* mobile responsive vertical */
@media screen and (max-width: 320px) {
    .nav-container {
        max-width: 100%;
        height: 17px;
        font-size: 12px;
        padding: 15px;
        padding-right: 45%;
    }

    #vid-container{
        align-items: center;
        justify-content: center;
        margin: 100px auto 0;
        margin-bottom: 100px;
        height: 400px;
        width: 100%;
        text-align: center;
        justify-self: center;
        align-content: center;
        flex-direction: column;
        padding: 0px 0;
       
    }

    iframe{
        width:280px;

    }

    #section{
        margin-top: 20px;
        padding: 0%;
        width: 320px;
    }

    h2{
        font-size: 20px;
        margin-top: 3px;
    }

    h3{
        font-size: 15px;
    }
  }
/* mobile responsive horizontal */
@media screen and (max-height: 320px) {
    .nav-container {
        max-width: 100%;
        height: 17px;
        font-size: 12px;
        padding: 15px;
        padding-right: 65%;
    }

    #header{
        height: 300px;
        padding-top: 50px;  
    }
    #vid-container{
        align-items: center;
        justify-content: center;
        margin: 100px auto 0;
        margin-bottom: 100px;
        height: 400px;
        width: 100%;
        text-align: center;
        justify-self: center;
        align-content: center;
        flex-direction: column;
        padding: 0px 0;
       
    }

    iframe{
        width:380px;
        height: 200px;
    }

    #section{
        margin-top: 20px;
        padding: 0%;
        width: 320px;
    }

    h2{
        font-size: 20px;
        margin-top: 3px;
    }

    h3{
        font-size: 15px;
    }
  }